@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(255, 255, 255) 
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: rgb(56, 139, 255); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
    
}

.logoimage {
 width: 9%;
 position: fixed;
 right: 0;

}

.logoimage2 {
    position: relative;
    width: 3.2%;
    position: fixed;
    right: 50px;
    top: 38px;
}

.logo {
    position: relative;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(56, 139, 255);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}
.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    
}   
.navbar a:hover,
.navbar a.active {
    color: rgb(0, 0, 0);
}

.home {
    height: 120vh;
    display: flex;
    align-items: center;
    padding: 7.3%;
}
.home-content {
    max-width: 650px;
    left: 34px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 550;
    line-height: 1.2;
    left: 38px;

}
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 0.9s;
}

.home-content h3 {
position: relative;
font-size: 32px;
font-weight:600;
left: 38px;
color: rgb(56, 139, 255); 
}
.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.home-content p {
position: relative;
font-size: 17px;
margin: 20px 0 20px;
left: 38px;
color: black;

}
.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}
.home-content .btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345;
    height: 70px;
  
    
}
.home-content .btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}
.btn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 45px;
    background: rgb(56, 139, 255);
    border: 2px black;
    border-radius: 8px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    z-index: 1;
    left: 38px;
    font-size: 19px
    
    
}
.btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(255, 255, 255);
    z-index: -1;
    transition: .5s;
    overflow: hidden;
}
.btn a:hover {
    color: black;
}
.btn a:hover::before {
width: 100%;

}
.icons {
    position: absolute;
    bottom: 70px;
    width: 90px;
    display: flex;
    justify-content: space-between;
    left: 142px;

}
.icons::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 2;
}

.icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(56, 139, 255);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(56, 139, 255);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.icons a:hover {
    color:white;
}
.icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(56, 139, 255);
    z-index: -1;
    transition: .5s;
}
.icons a:hover::before {
    width: 100%;

}
@keyframes showRight {
    100% {
        width: 0;
    }
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background: rgb(56, 139, 255);
    padding-top: 6rem;
    padding-bottom: 6rem;
    

}
.heading {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: white;
   
}
span {
    color: rgb(255, 255, 255);
   
}
.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2cm;

}
.about-img img {
    width: 100%;
    border-radius: 100%;
    border: 2.rem solid rgb(140, 190, 255);
}
.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 101%;
    height: 101%;
    border-radius: 50%;
    border-top: .2rem solid rgb(255, 255, 255);
    border-bottom: .2rem solid rgb(255, 255, 255);
    border-left: .2rem solid rgb(255, 255, 255);
    border-right: .2rem solid rgb(255, 255, 255);
}
.spanner {
    color: rgb(0, 0, 0);
}
.about-content {
    text-align: center;
    color: rgb(255, 255, 255);
}

.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-top: 7rem;
    padding-right: 3rem;

}
.education h2 {
    color: black;
    font-size: 3.8rem;
    padding-bottom: 3rem;
}
.span1 {
    color: rgb(56, 139, 255); 
}
.span2 {
    color: rgb(255, 255, 255);
}
.education .education-row {
display: flex;
flex-wrap: wrap;
gap: 2rem;

}
.education-row .education-column {
flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;

}
.education-column .education-box {
    border-left: .2rem solid rgb(56, 139, 255);
}
.education-box .education-content {
    position: relative;
    padding-left: 2rem;
    
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -.8rem;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(56, 139, 255); 
    border-radius: 50%;


}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    border: .2rem solid rgb(56, 139, 255)
}

.education-content .content::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: rgb(56, 139, 255); 
z-index: -1;
transition: .5s;
}
.education-content .content:hover::before {
    width: 100%;

}
.education-content .content .year {
    font-size: 1.3rem;
    color:rgb(56, 139, 255);
    padding-bottom: .5rem;
}
.education-content .content .year i {
    padding-right: .5rem;

}
.education-content .content h3 {
    font-size: 1.3rem;
}
.education-content .content p {
    font-size: 1.1rem;
    padding-top: .5rem;
}
